nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #333;
}

li {
  size: 30px;
  list-style-type: none;
  color: white;
}

.nav-links {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
